#entireBodyDiv {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-color: rgba(0, 0, 0, 0);
    z-index: 5000;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    /* display: none; */
}
#progressbarDiv {
    border: 2px solid rgb(83, 94, 135);
    border: 2px solid rgba(255, 224, 0, 0.7);
    border-radius: 5px;
    background-image: url(../img/ProgressBar.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: none;
    z-index: 5001;
    position: fixed;
    left: 50%;
    /* bottom: 0px; */
    top: 10px;
    /* top: 50%; */
    transform: translate(-50%, 0%);
    /* transform: translate(-50%, 50%); */
    width: 90%;
    /* width: 600px; */
    height: 10px;
    /* height: 20px; */
}

.unavailableView {
    /*cursor: not-allowed !important;*/
	pointer-events: none;
	opacity: 0.40;
	/*text-decoration: line-through;*/
	/* cursor: not-allowed; */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/**/
/* UAM ONLY*/
.uamOnly{
	/*display:none;*/
	opacity: 0.15;
}
.uamOnly.enabled{
	/*display:block;*/
	opacity: 1.0;
}
.uamOnly.sectionWindow{
	background-color: rgba(40, 160, 210, 1);
	border-style: solid;
}
.uamOnly .sectionWindow_title{
	background-color: hsla(40, 69%, 53%, 1);
}
/* UAM ONLY*/
/**/




canvas {
  /* Older versions of FF          */
  image-rendering: optimizeSpeed;

  /* FF 6.0+                       */
  image-rendering: -moz-crisp-edges;

  /* Safari                        */
  image-rendering: -webkit-optimize-contrast;

  /* OS X & Windows Opera (12.02+) */
  image-rendering: -o-crisp-edges;

  /* Awesome future-browsers       */
  image-rendering: pixelated;

  /* IE                            */
  -ms-interpolation-mode: nearest-neighbor;
}

html {
	max-width: 1200px;
	width: 900px;
	margin: 0 auto;
	/*scroll-behavior: smooth;*/
	/*font-family: "Times New Roman, Helvetica, serif";*/
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 16px;
}
html.wide  {width: 1180px;}

body {
	position: relative;
	background-color: #213a4e;
}
#bodyHeader {
	text-align: center;
	margin: 2px;
	padding: 5px;
	background-color: #b9c6d0;
	border: 1px solid black;
	border-radius: 5px;
}
#bodyContainer {
	min-height: 200px;
	margin: 2px;
	padding: 2px;
	background-color: rgb(185, 198, 208);
	background-color: hsl(206, 51%, 37%);
	border: 1px solid black;
	border-radius: 5px;
	position: relative;
}
#bodyFooter {
	text-align: left;
	margin: 2px;
	padding: 5px;
	background-color: #b9c6d0;
	border: 1px solid black;
	border-radius: 5px;
}


/* USED AS THE CONTAINER FOR THE MAIN SECTIONS OF THIS APPLICATION */
.sectionDivs {
	position: relative;
	min-height: 500px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: #aec4e0;
	background-color: #6b7a8c;
	display:none;
}
.sectionDivs.active{
	display:block;
}
.sectionDivs.hidden{
	display:none;
}

.sectionWindow_title, .sectionDivs_title {
	background-color: #85a3e0;
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid steelblue;
	border-radius: 4px 4px 0px 0px;
	height: 25px;
	font-size: 16px;
}

.sectionDivs_content {
	padding: 5px;
	border-radius: 0px 0px 4px 4px;
	border: 5px solid blue;
}

.sectionDivs_title_text {
	position: absolute;
	left: 5px;
	top: 5px;
	font-size: 26px;
	vertical-align: top;
}

.sectionDivs_title_options {
	position: absolute;
	right: 5px;
	top: 0px;
	width: 700px;
	height: 2em;
	text-align: right;
	vertical-align: top;
}

/* USED AS CONTAINERS WITHING EACH MAIN SECTION OF THIS APPLICATION */
.sectionWindow {
	width: 250px;
	height: 100px;
	border: 2px solid black;
	border-radius: 5px 5px 5px 5px;
	position: absolute;
	box-shadow: 0px 0px 10px 0px black;
	background-color: #85a3e0;
}

.sectionWindow_title {
	height: 15px;
	background-color: hsla(220, 69%, 53%, 1);
}

.sectionWindow_content {
	padding: 5px;
	position:relative;
}

.navOptions {
	font-size: 1.0em;
	line-height: 1em;
	display: inline-block;
	background-color: #6994e9;
	border-radius: 5px;
	padding: 5px;
	margin: 3px;
	border: 2px solid #1e5a88;
	vertical-align: top;
}
.navOptions:hover {
	background-color: #a4c3ff;
}
.navOptions.hidden {
	display:none;
}

#emu_view{height: 600px;}
#emu_gameSelector    {left: 5px;top: 40px;width: 320px;height: 100px;z-index: 100;}
#emu_gameFiles       {width: 320px;height: 130px;position: absolute;top: 150px;left: 5px;z-index: 18;padding: 0px;border-radius: 5px;overflow: hidden;}
#emu_onscreenGamepads{width: 320px;height: 295px;position: absolute;top: 290px;left: 5px;z-index: 18;}
#emu_emulator        {left: 340px;top: 40px;width: 525px;/* z-index: 101; */height: 540px;overflow: hidden;/* padding: 0px; *//* margin: 0px; */background-color: #346cda;/* background-color: black; *//* position: absolute; */}
#emu_emulator .sectionWindow_content{/* background-color: #22205c; *//* padding:0px; *//* margin: 0 auto; */}

#emu_view_uam{
	background-color: #65b0427a;
	left: 875px;
	top: 40px;
	width: 200px;
	height: 100px;
	width: 285px;
	height: 550px;
	position: absolute;
	font-size: 14px;
	padding: 0px;
	overflow: hidden;
	display:none;
}
#emu_view_uam.enabled{
	display:block;
}

#emu_view_uam .table1{ width:100%; }
#emu_view_uam .table1 td {padding: 3px;}

#emu_gameSelector_uam{left: 0px;top: 0px;width: 200px;height: 100px;width: 280px;height: 170px;position: absolute;font-size: 14px;padding: 0px;overflow: hidden;}
#emu_miniOutput1_uam {left: 0px;top: 180px;width: 280px;height: auto;position: absolute;padding: 0px;overflow: hidden;}
#emu_miniOutput2_uam {left: 0px;top: 365px;width: 280px;height: auto;position: absolute;padding: 0px;overflow: hidden;}

#emu_miniOutput1_uam .sectionWindow_content{ padding:0px; }
#emu_miniOutput2_uam .sectionWindow_content{ padding:0px; }

.dataHolder {
	background-color: black;
	color: palegoldenrod;
	width: 280px;
	width: 100%;
	height: 140px;
	text-align: left;
	overflow: auto;
	font-family: monospace;
	font-size: 12px;
	white-space: pre-line;
	display: inline-block;
	vertical-align: top;
	z-index: 1;
	position: relative;
	padding: 4px;
}

.table1 {
	width: 100%;
	background-color: rgba(90, 120, 181, 0.4);
}
.table1 caption {
	background-color: rgba(34, 66, 129, 0.4);
}
.table1 td {
	vertical-align: top;
}

#emu_db{height: 600px;}
#emu_db_gameChoice{
	left: 10px;
	top: 50px;
	width: 200px;
	height: 100px;
	width: 600px;
	height: 100px;
}
#emu_db_gameMetadata{
	left: 10px;
	top: 170px;
	width: 200px;
	height: 100px;
	width: 550px;
	height: 350px;
}
#emu_db_files{
	left: 630px;
	top: 50px;
	width: 200px;
	height: 100px;
	width: 500px;
	height: 395px;
}
#emu_db_upload{
	left: 630px;
	top: 490px;
	width: 200px;
	height: 100px;
	width: 500px;
	height: 95px;
}

div#emu_filesList_div {
	height: 80px;
	overflow: auto;
}
div#emu_filesList_div .table1 th:nth-child(1) {width: 20%;background-color:green;}
div#emu_filesList_div .table1 th:nth-child(2) {width: 60%;background-color:blue;}
div#emu_filesList_div .table1 th:nth-child(3) {width: 20%;background-color:red;}

div#emu_filesList_div .table1 td:nth-child(1) { }
div#emu_filesList_div .table1 td:nth-child(2) {font-family:monospace;font-size: 12px;}
div#emu_filesList_div .table1 td:nth-child(3) { font-family:monospace; }

#emscripten_iframe_container{
	width: 460px;
	height: 460px;
	margin: 0px auto;
	width: 515px;
	height: 451px;
	/* background-color: black; */
}
#emscripten_iframe{
	width: 100%;
	height: 10px;
	background-color: #7492cf6e;
	position: absolute;
	top: -5px;
	left: 0px;
	z-index: 0;
	overflow: hidden;
	/* visibility: hidden; */
}

#emu_FilesFromUser{
	display:none;
}
#emu_FilesFromUser_viewableBtn{font-size: 12px;}

/*UAM*/
#emu_gameSelect_UAM_select{
	width: 145px;
}
.checkbox_button{
    /*border: 1px solid black;*/
    margin-bottom: 2px;
}
.checkbox_button .checkbox{
	background-color: red;
    color: yellow;
    width: 35px;
    height: 15px;
    display: inline-block;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;

}
.checkbox_button .checkbox.enabled{
	background-color: #40cf40;
}
.checkbox_button .checkbox::before{
	content: "OFF";
}
.checkbox_button .checkbox.enabled::before{
	content: "ON ";
}

/*UAM*/

.emuControls:hover{
	background-color: #accce7;
}
.emuControls:active{
	background-color: #5babef;
}
.emuControls{
	width: 90px;
	font-size: 10px;
	margin: 2px auto;
	border-radius: 5px;
	border: 1px solid black;
	display: inline-block;
	background-color: #e4e4e4;
	/* height: 2.25em; */
	vertical-align: top;
}
.emuControls.checkbox{
	/* height: 1.5em; */
	text-align:center;
	width: 180px;
	/*pointer-events: none;*/
	/*-webkit-touch-callout: none;*/
	/*-webkit-user-select: none;*/
	/*-khtml-user-select: none;*/
	/*-moz-user-select: none;*/
	/*-ms-user-select: none;*/
	/*user-select: none;*/
}
.emuControls #emuControls_autopause_chk{
	background-color: red;
	color: yellow;
	width: 35px;
	height: 15px;
	display: inline-block;
	font-size: 12px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	margin-right: 10px;
}
.emuControls #emuControls_autopause_chk.enabled{
	background-color: #40cf40;
	color: yellow;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
}
.emuControls #emuControls_autopause_chk::before{
	content: "OFF";
}
.emuControls #emuControls_autopause_chk.enabled::before{
	content: "ON ";
}


#emscripten_iframe_container:-webkit-full-screen{ height: 100% !important; }
#emscripten_iframe_container:-moz-full-screen   { height: 100% !important; }
#emscripten_iframe_container:-ms-fullscreen     { height: 100% !important; }
#emscripten_iframe_container:-fullscreen        { height: 100% !important; }

/*FULL SCREEN*/
/*:-webkit-full-screen {*/
/*  width: 100% !important;*/
/*}*/
/*:-moz-full-screen {*/
/*  width: 100% !important;*/
/*}*/
/*:-ms-fullscreen {*/
/*  width: 100% !important;*/
/*}*/
/*:fullscreen {*/
/*  width: 100% !important;*/
/*}*/

/* While in fullscreen, hide any children with class 'tohide' */
/*:-webkit-full-screen .tohide {*/
/*  display: none;*/
/*}*/
/*:-moz-full-screen .tohide {*/
/*  display: none;*/
/*}*/
/*:-ms-fullscreen .tohide {*/
/*  display: none;*/
/*}*/
/*:fullscreen .tohide {*/
/*  display: none;*/
/*}*/
/*FULL SCREEN*/



input#emu_FilesFromJSON {
	width: 140px;
	font-size: 10px;
}

select#emu_builtInGames_select {
	width: 95%;
	font-size: 12px;
}

div#emu_emuControls2 {
	text-align: center;
	border-bottom: 2px solid #346cda;
	background-color: #346cda;
}

.noSelect{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


/* ************** */
svg#emu_gamepad1, svg#emu_gamepad2 {
    position: absolute;
    top: 0px;
    left: -16px;
}
.hover_group {
    opacity: 0.95;
    fill: rgba(23, 0, 214, 0.35);
    stroke: black;
    stroke-width: 2px;
}
.hover_group:hover {
    fill: rgba(0, 164, 164, 0.75);
}
.hover_group:active {
    fill: rgba(0, 255, 255, 0.75);
}
#emu_onscreenGamepads_1{
	width: 380px;
	height: 165px;
	border-radius: 10px;
	border: 2px solid black;
	position: absolute;
	top: 0px;
	left: -32px;
	transform: scale(0.8, 0.60);
	z-index: 100;
	padding: 0px;
	background-color: #7e3c3c;
}
#emu_onscreenGamepads_2{
	width: 380px;
	height: 165px;
	border-radius: 10px;
	border: 2px solid black;
	position: absolute;
	top: 120px;
	left: -32px;
	transform: scale(0.8, 0.60);
	z-index: 100;
	padding: 0px;
	background-color: #888841;
}

.largerEmuWindow          {background-color:black;width: 530px !important;height: 545px !important;}
.largerEmuWindow_container{/* background-color:black; */width: 520px !important;height: 455px !important;}


input#emu_FilesFromJSON_load {
    font-size: 12px;
    width: 50px;
}

input#emu_FilesFromJSON_UAM {
    width: 185px;
    font-size: 6px;
    /* display: block; */
    display: none;
}

div#emu_debug1 {
    height: 600px;
}

#emu_debug1_output1{
    left: 5px;
    top: 40px;
    width: 1150px;
    height: 550px;
    position: absolute;
    font-size: 14px;
    padding: 0px;
    overflow: hidden;
}
#emu_debug1_output1 .output{
	background-color: black;width: 100%;height: 515px;
    color: palegoldenrod;
    text-align: left;
    overflow: auto;
}
#emu_debug2_output1{
	left: 5px;
    top: 40px;
    width: 1150px;
    height: 550px;
    position: absolute;
    font-size: 14px;
    padding: 0px;
    overflow: hidden;
}
#emu_debug2_output1 .output{
	background-color: black;width: 100%;height: 515px;
    color: palegoldenrod;
    text-align: left;
    overflow: auto;
}

#emu_debug1_output1 .output pre,
#emu_debug1_output2 .output pre
{
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: normal;
    background-color: #1b1b1b;
    color: palegoldenrod;
    margin: 0px auto;
    font-size: 100%;
}


div#emu_debug2 {
    height: 600px;
}

canvas#emuCanvas {
    width: 520px;
    height: 455px;
}

#emu_misc_nav{
	/*background-color:blue;*/
	border-bottom: 0px solid black;
	padding-left: 5px;
}
.emu_misc_navItem{
	display:inline-block;
	background-color: steelblue;
	/* background-color: #dddddd; */
	width: 85px;
	font-size: 14px;
	padding: 5px;
	padding-bottom: 2px;
	border-radius: 15px 15px 0px 0px;
	text-align: center;
	border: 1px solid black;
	border-bottom: 0px;
	cursor:pointer;
}
.emu_misc_navItem.active{
	/* background-color: steelblue; */
	background-color: #dddddd;
}

.emu_misc_view{
	display:none;
	width: 310px;
	height: 235px;
	background-color: #dddddd;
}
.emu_misc_view.active{
	display:block;
}

#emu_misc_gamepads{
	/* background-color:blue; */
}
#emu_misc_info{
	/* background-color:red; */
}
#emu_misc_misc{
	/* background-color:green; */
}

.hovered{
	/*transform:scale(0.9, 0.9);*/
	border:2px solid blue;
}