html {
	background-color: slategray;
}
body{
	background-color: slategray;
}
#mid {
	position: relative;
	background-color: white;
	display: inline-block;
	/* width: 95%; */
	/* margin: auto; */
	/* margin: 5px; */
	/* margin-bottom: 5px; */
	/* border: 1px solid black; */
	/* padding: 5px; */
	box-shadow: 2px 2px 10px 5px rgba(138,43,226,0.5);
}

#bot {
	/* position: relative; */
	/* display: block; */
	width: 95%;
	margin: auto;
	/*margin-bottom: 5px;*/
	border: 1px solid black;
	height: 150px;
	/* height: auto; */
	background-color: rgba(156, 136, 29, 0.1);
}

#mid iframe {
	/*width: 100%;*/
	/*height: 100%;*/
}

#top_container {
	position: relative;
	/* background-color: rgba(255, 0, 0, 0.5); */
	display: inline-block;
	height: 100%;
	/* width: 100%; */
}


#links {
	/*position: absolute;*/
	/*right: 0px;*/
	/*top: 0px;*/
	/*width: 550px;*/
	/* background-color: yellow; */
}


#emscripten_iframe{width:600px;height:600px;box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);}
#middle {
    text-align: center;
    visibility:hidden;
}

div#top:hover {
	z-index: 1;
	background-color: rgba(255, 255, 0, 0.75);
}

#gameselect_menu table {}
#gameselect_menu table select{ width:100%;}
#gameselect_menu table input[type='button']{ width:100%;}

div#gameselect_menu {
	position: absolute;
	background-color: wheat;
	/* height: 500px; */
	/* width: 400px; */
	left: 5px;
	top: 5px;
	border: 5px solid darkcyan;
	z-index: 0;
	/* z-index: 1; */
	width: 510px;
	/* border: 5px solid black; */
	opacity: 0.5;
}

div#gameselect_menu:hover {
	z-index: 1;
	opacity: .85;
}