html {
	background-color: #000060;
	margin: auto;
	margin-top: 2px;
	padding: 2px 2px 2px 2px;
	overflow: auto;
}

body {
	margin: auto;
	overflow: hidden;
	width: 1100px;
	color: black;
	font-family: "Times New Roman";
}

div#wrapAll {
	padding: 5px;
	/* background-color: rgb(57, 60, 169); */
	/* background-color: #6a6cc7; */
	border-radius: 10px;
}

div#top_panel {
	position: relative;
	left: 1px;
	/* background-color: #6b8dbd; */
	height: 45px;
	padding: 5px 0px 0px 0px;
	border-radius: 10px;
}

div#top_panel_left {
	position: relative;
	top: 1px;
	left: 0px;
	width: 525px;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}

div#topNavMenu {
	height: 42px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom: 0px solid black;
	/* background-color: #393ca9; */
	position: relative;
	top: 0px;
	left: 0px;
	width: inherit;
}

.navButton {
	display: inline-block;
	/* background-color: goldenrod; */
	/* background-color: darkkhaki; */
	width: 150px;
	text-align: center;
	/* border-top-left-radius: 10px; */
	/* border-top-right-radius: 10px; */
	border-radius: 10px 10px 0px 0px;
	border: 2px solid #000060;
	border-bottom: 0px solid black;
	padding: 5px;
	font-size: 16px;
	height: 38px;
	line-height: 38px;
	position: relative;
	text-decoration: underline;
	/* font-weight: bold; */
	top: -4px;
	left: 15px;
	vertical-align: bottom;
	color: #1d1e21;
	min-width: 125px;
}

div#top_panel_right {
	position: absolute;
	top: 6px;
	right: 55px;
	width: 320px;
	height: 32px;
	display: none;
	vertical-align: top;
	text-align: center;
	padding: 3px;
	background-color: darkgoldenrod;
	border-radius: 5px;
	border: 2px solid #000060;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

div#top_panel_right_gamemanager {
	position: absolute;
	top: 6px;
	right: 55px;
	width: 320px;
	height: 32px;
	vertical-align: top;
	text-align: center;
	padding: 3px;
	background-color: darkgoldenrod;
	border-radius: 5px;
	border: 2px solid #000060;
}

#gameMenu_select {
	width: 100%;
	height: 32px;
	font-weight: bold;
	vertical-align: top;
	font-size: 12px;
}

#gameMenu_select2 {
	width: 180px;
	height: 50%;
	font-weight: bold;
	vertical-align: top;
	font-size: 12px;
}

input#stopEmulator_button {}

input#restartEmulator_button {
	width: 100%;
	margin-top: 5px;
	font-weight: bold;
	vertical-align: top;
	font-size: 12px;
}

#top_panel_settings_gear {
	position: absolute;
	top: 6px;
	right: 5px;
	background-image: url(../img/settingsGear.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 42px;
	height: 38px;
	background-color: darkgoldenrod;
	border-radius: 5px;
	border: 2px solid #000060;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
	display: none;
}

.navButton:hover {
	transform: scale(0.95, 1);
	background-color: gold;
	background-color: khaki;
}

.navButton:active {
	transform: scale(0.95);
	background-color: goldenrod;
	background-color: darkgray;
}

#content {
	border: 2px solid #000060;
	min-height: 550px;
	/* background-color: #6a6cc7; */
	/* background-color: #393ca9; */
	background-color: rgb(161, 122, 24);
	/* background-color: #000060; */
	margin: 0px 1px 0px 1px;
	padding-bottom: 15px;
	border-radius: 5px 5px 10px 10px;
}

#middle {
	padding-top: 15px;
	padding-left: 15px;
}

#VIEW_gamedbmanager {
	position: relative;
}

#VIEW_gamedbmanager_container {
	background-color: darkgray;
	margin: auto;
	margin-bottom: 15px;
	width: 600px;
	padding-bottom: 10px;
	overflow: auto;
	border-radius: 15px;
	position: relative;
}

#VIEW_emulator {
	position: relative;
}

#VIEW_misc {
	position: relative;
	background-color: rgba(167, 120, 0, 0.6);
	/* height: 100%; */
	/* width: 100%; */
}

#emscripten_iframe_container iframe {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: auto;
}

.gameframe_ {
	text-align: center;
	width: 650px;
	display: inline-block;
	vertical-align: top;
	/* padding: 5px; */
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
	background-color: #ab8118;
	background-color: black;
	overflow: hidden;
	position: relative;
	left: 10px;
	border-radius: 15px;
	border: 5px solid #000060;
	border: 10px solid rgb(57, 60, 169);
	/* padding-bottom: 10px; */
}

.gameframe_borders {
	background-color: darkgoldenrod;
	display: none;
}

#emscripten_iframe {
	z-index: 5;
}

.gameframe_border_top {
	margin: 0 auto;
	padding: 0px;
	background-size: 36px;
	background-image: url('../img/uzebox-logo-best_reasonably_small.png');
	vertical-align: top;
	width: 100%;
	height: 35px;
	position: relative;
	/* display: none; */
}

.gameframe_border_left {
	position: absolute;
	width: 110px;
	height: 100%;
	vertical-align: top;
	left: 0px;
	top: 0px;
	background-size: 115px;
	background-size: 100% 100%;
	background-image: url(../img/uzebox-logo-best_reasonably_small.png);
	background-repeat: no-repeat;
}

#emscripten_iframe_container {
	position: relative;
	left: 0px;
	height: 465px;
	width: 630px;
	margin: auto;
	padding: 0px;
	outline: 0px solid black;
	border: 0px solid black;
	z-index: 500;
}

.gameframe_border_right {
	position: absolute;
	width: 110px;
	height: 100%;
	vertical-align: top;
	right: 0px;
	top: 0px;
	background-size: 115px;
	background-size: 100% 100%;
	background-image: url(../img/uzebox-logo-best_reasonably_small.png);
	background-image: url(../img/lborder1.png);
}

.gameframe_border_bottom {
	margin: 0 auto;
	padding: 0px;
	background-size: 36px;
	background-image: url('../img/uzebox-logo-best_reasonably_small.png');
	vertical-align: top;
	width: 100%;
	height: 35px;
	position: relative;
}

#progressBar {
	background-image: url('../img/ProgressBar.gif');
	width: 100%;
	height: 40%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	top: 1px;
	margin: auto;
	display: none;
}

#progressBar2 {
	background-image: url('../img/ProgressBar.gif');
	width: 100%;
	height: 40%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	top: 1px;
	margin: auto;
	display: none;
}

#progressBar.show,
#progressBar2.show {
	display: block;
}

.views {
	display: none;
}

.views.show {
	display: block;
}

.panels {
	display: none;
}

.panels.show {
	display: block;
}

#completeData_1game {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

#completeData_1game td input[type='text'] {
	width: 100%;
}

#completeData_1game td:nth-child(1) {
	text-align: left;
}

#completeData_1game td textarea {
	width: 100%;
}

#completeData_1game_description_container {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}

#completeData_1game_description_textarea {
	margin: 0px;
	height: 160px;
	width: 245px;
}

#completeData_1game_buttons {
	text-align: center;
}

#completeData_1game_buttons input[type='button'] {
	width: 45%;
}

#middle_cont1 {
	position: relative;
}

#filemanager_section {
	text-align: left;
	width: 550px;
	margin: auto;
	border: 1px solid black;
	margin-top: 10px;
	padding: 10px;
	background-color: lightgray;
	border-radius: 10px;
}

#filemanager_section h3 {
	text-align: center;
}

#filesInDirectory_table {
	margin: auto;
	width: 100%;
}

input#newFileUpload_save {
	width: 29%;
}

input#newFileUpload_browse {
	width: 69%;
}

#gamedata_section {
	border: 1px solid black;
	margin: auto;
	margin-top: 10px;
	padding: 10px;
	width: 550px;
	background-color: lightgray;
	border-radius: 10px;
	position: relative;
}

#gamedb_new {
	width: 50px;
	height: 25px;
	background-color: yellow;
	position: absolute;
	right: 10px;
	top: 2px;
	border: 2px solid #000060;
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
}

#gamedb_new:hover {
	transform: scale(1.05);
}

#gamedb_new:active {
	transform: scale(0.95);
}

#gamedb_del {
	width: 50px;
	height: 25px;
	background-color: red;
	position: absolute;
	right: 65px;
	top: 2px;
	border: 2px solid #000060;
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
}

#gamedb_del:hover {
	transform: scale(1.05);
}

#gamedb_del:active {
	transform: scale(0.95);
}

#darkener_modal_1 {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 100;
}

#darkener_modal_1.show {
	display: block;
}

#modal_1 {
	background-color: rgba(89, 160, 230, 1);
	color: black;
	border: 5px solid #000060;
	border-radius: 10px;
	z-index: 101;
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 530px;
	padding: 10px;
	padding-top: 0px;
	height: 300px;
	margin: auto;
	text-align: left;
	box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.70);
}

#modal_1.show {
	display: block;
}

#darkener_modal_2 {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 600;
}

#darkener_modal_2.show {
	display: block;
}

#modal_2 {
	background-color: rgba(89, 160, 230, 1);
	font-family: "Liberation Mono", Courier, monospace;
	font-weight: bold;
	color: black;
	border: 5px solid #000060;
	border-radius: 10px;
	z-index: 601;
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 720px;
	padding: 10px;
	padding-top: 0px;
	height: 500px;
	margin: auto;
	text-align: left;
	box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.70);
}

#modal_2.show {
	display: block;
}




#darkener_modal_3 {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 600;
}

#darkener_modal_3.show {
	display: block;
}

#modal_3 {
	background-color: rgba(89, 160, 230, 1);
	overflow-y: scroll;
	/* overflow-x: scroll; */
	/* overflow: hidden; */
	font-family: "Liberation Mono", Courier, monospace;
	font-weight: bold;
	color: black;
	border: 5px solid #000060;
	border-radius: 10px;
	z-index: 601;
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 950px;
	/* padding: 10px; */
	padding-top: 0px;
	height: 500px;
	margin: auto;
	text-align: left;
	box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.70);
}

#modal_3.show {
	display: block;
}


#userFileControls {
	top: 5px;
	right: 5px;
	padding: 0px 0px 0px 0px;
}

#emulatorControls {
	display: inline-block;
	vertical-align: top;
	width: 350px;
	padding: 3px 3px 3px 3px;
	padding: 5px;
	/* background-color: goldenrod; */
	/* background-color: #008bc0; */
	background-color: #336699;
	background-color: #393ca9;
	border-radius: 15px;
	border: 2px solid #000060;
	border: 3px solid rgb(57, 60, 169);
	box-shadow: 0px 0px 5px 2px;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.emulatorControls_buttons {
	height: 20px;
	width: 150px;
	line-height: 20px;
	font-weight: bold;
	font-size: 14px;
	background-color: orange;
	margin: 3px;
	padding: 2px;
	text-align: left;
	z-index: 9;
	position: relative;
	border: 1px solid darkgoldenrod;
	/* font-stretch: ultra-expanded; */
	border-radius: 10px 10px 10px 10px;
	display: inline-block;
	text-align: center;
}

.emulatorControls_buttons:hover {
	background-color: gold;
	border: 1px solid black;
	border-radius: 5px;
	z-index: 10;
}

.emulatorControls_buttons:active {
	transform: scale(0.95);
}

#top_panel_right_user {
	position: absolute;
	top: 6px;
	right: 0px;
	width: 350px;
	height: 32px;
	vertical-align: top;
	text-align: center;
	padding: 0px 5px 6px 5px;
	background-color: #a17a18;
	border-radius: 5px;
	border: 2px solid #000060;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.emulatorControls_section {
	font-weight: bold;
	font-size: 16px;
	background-color: #a17a18;
	padding: 5px;
	word-wrap: break-word;
	text-align: left;
	border-radius: 10px;
	border: 1px solid black;
}

.emulatorControls_section_title {
	font-weight: bold;
	background-color: #d2a709;
	text-align: center;
	margin-bottom: 5px;
	text-decoration: underline;
	border-radius: 5px;
	padding: 2px;
	border: 1px solid black;
}

.emulatorControls_info {
	font-weight: bold;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	word-wrap: break-word;
	text-align: left;
	line-height: 16px;
}

.userGameFileLink {
	font-weight: bold;
	margin-left: 5px;
}

.userGameFileLink:hover {}

.userDataFileLink {
	font-weight: bold;
	margin-left: 5px;
}

.userDataFileLink:hover {}

#userGameFiles .title1 {
	text-align: center;
}

#userGameFiles .title2 {
	text-align: center;
}

#userGameFiles .gamefiles button {
	height: 18px;
	font-size: 12px;
	margin-left: 5px;
}

#userGameFiles .hide {
	display: none;
}

input#FilesFromUser_viewableBtn {
	width: 60%;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

#top_panel_right_user table {
	height: inherit;
	margin: 0px !important;
	padding: 0px !important;
	overflow: scroll;
	border-collapse: collapse;
}

#top_panel_right_user table td:nth-child(1) {
	width: 120px;
}

#top_panel_right_user table td:nth-child(2) {}

#nonDevWarning_gameManager {
	position: absolute;
	width: 100%;
	height: 30px;
	background-color: red;
	right: 0px;
	top: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
}

#completeData_1game_status {
	width: 100%;
}

#gameChooser {
	border-radius: 10px 10px 10px 10px;
}

#gameSourceNav {
	text-align: center;
	border-bottom: 0px;
}

#gameSourceNav_SERVER {}

#gameSourceNav_LOCAL {}

#gameSourceNav_URL {}

.gameSourceNav_tab {
	background-color: #6d4804;
	width: 30%;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	text-align: center;
	border: 1px solid black;
	border-bottom: 0px;
	border-radius: 5px 5px 0px 0px;
	position: relative;
	top: 1px;
	height: 24px;
	line-height: 24px;
}

.gameSourceNav_tab:hover {
	background-color: goldenrod;
	text-decoration: underline;
	font-weight: bold;
}

.gameSourceNav_tab:active {}

.gameSourceNav_tab.active {
	background-color: #a17a18;
}

.emulatorControls_section.miniview {
	display: none;
	margin: 0px 0px 0px 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: 0px;
	border: 1px solid black;
}

.emulatorControls_section.miniview.active {
	display: block;
}

#userGameFiles {
	font-size: 12px;
	font-weight: normal;
	border: 1px solid black;
	background-color: #f3cf78;
}

#userGameFiles_fromURL {
	display: none;
	margin: 5px 0px 5px 0px;
	padding: 5px 5px 5px 5px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid black;
	background-color: #f3cf78;
}

#userGameFiles_fromURL.show {
	display: block;
}

#userGameFiles_fromURL div:nth-child(1) {
	text-decoration: underline;
	font-weight: bold;
}

#userGameFiles_fromURL div:nth-child(2) {}

#userGameFiles_fromURL input {
	width: 100%;
}

.navButton {
	background-color: #6d4804;
}

.navButton.active {
	background-color: #6b8dbd;
	background-color: #6a6cc7;
	background-color: #a17a18;
	font-size: 24px;
	font-weight: bold;
	border-radius: 20px 20px 0px 0px;
}



.compileView {
	font-family: 'Courier New', Courier, monospace;
	font-size: 90%;
	font-weight: bold;
	background-color: #1b1b1b;
	color: #adff00;
	overflow-y: auto;
	overflow-x: auto;
}

.compileView .errorstring {
	font-weight: bolder;
	background-color: black;
	color: red;
	border:2px solid ghostwhite;
}
.compileView .warningstring {
	font-weight: bolder;
	background-color: black;
	color: yellow;
	border:2px solid ghostwhite;
}

#showEmuControls {
	/* position: absolute; */
	/* top: 0px; */
	/* left: 0px; */
}
#CUzeBox_controls{background-image: url('../img/CUzeBox_controls.png');width: 400px;height: 200px;background-size: 100% 100%;background-repeat: no-repeat;margin: auto;}

div#CUzeBox_controls {}


#userGameFiles_fromURL_infotitle{font-size:18px;font-weight:bold;text-decoration:underline;text-align:center;}
#userGameFiles_fromURL_infoinfo{font-size:14px;font-weight:normal;text-decoration:none;text-align:left;}


.directGameLinks{
	font-size: 16px;
	font-weight: normal;
}

input#emulatorControls_section_gamefromurl_url {
	width: 99%;
	font-size: 9px;
}



.emu_button1 {
	width: 95px;
	height: 25px;
	margin-right: 5px;
	display: inline-block;
	font-size: 11px;
	padding: 0px;
}

#app_emulator_emulator_controls2 {
	z-index: 501;
	margin: auto;
	width: 630px;
	height: 25px;
	position: relative;
	/* left: 570px; */
	/* top: 50px; */
	background-color: #091724;
	/* background-color: black; */
	text-align: center;
	padding: 5px;
	border: 5px solid black;
	/* border-top: 15px solid black; */
	border-radius: 15px;
	margin-top: 5px;
	/* margin-left: 5px; */
	/* opacity: 0.5; */
}

.button {
	/* background-color: #cece5b; */
	background-color: #585835;
	border-radius: 10px;
	/* border: 2px solid lightgray; */
	border: 2px solid darkslateblue;
	box-shadow: 0px 0px 2px 2px darkslategrey;
}

.button:hover {
	background-color: #ffff51;
}

figure#projectsvg {
	display: block;
	margin: auto;
}

.hover_group {
	/* opacity: 0.5; */
	/* background-color: yellow; */
	fill: rgba(255, 255, 0, 0.3);
	/* border: 10px solid black; */
}

.hover_group:hover {
	/* opacity: 0.90; */
	/* background-color: yellow; */
	fill: rgba(0, 128, 91, 0.5);
}

#app_emulator_emulator_controls2:hover {
	opacity: 1.0;
}