.cont {
	display: inline-block;
	border: 1px solid black;
	width: 150px;
	text-align: center;
	vertical-align: top;
	height: 6em;
	margin: 1px;
	border-radius:5px;
}
.cont:hover{background-color:gray;}
.title{}
.filename{}
.validheader{}


#newGame_table{ border:1px solid black; padding-right: 5px;}
#newGame_table td { vertical-align:top;}
#newGame_table td input[type='text']{ width:300px;}
#newGame_table td textarea{ width:300px; height:150px;}